{
    "command_prefix": [
        "!",
        "！"
    ],
    "friend_permission": {
        "some_random_friend_qq": [
            "hello",
            "echo",
            "mapping"
        ]
    },
    "group_permission": {
        "some_random_group_id": [
            "mapping",
            "ping"
        ],
        "another_random_group_id": [
            "hello",
            "echo",
            "mapping"
        ]
    },
    "bot_qq": 1145141919810,
    "verify_key": "1145141919810",
    "host": "localhost",
    "port": 11451,
    "su_qq": 1145141919810,
    "command_config": {
        "ping": {
            "some_random_group_id": "some_random_server_address",
            "another_random_group_id": "another_random_server_address"
        }
    },
    "ctf": {
        "enabled": false,
        "gosessid": "some_random_gosessid",
        "wait_second": 5,
        "broadcast": {
            "target": [
                "some_random_group_id",
                "another_random_group_id"
            ],
            "week": "Week 114514",
            "all_kill_category": true,
            "all_kill": true,
            "new_challenge": true,
            "score_lower_than": 200
        }
    }
}